<!DOCTYPE html>
<html>
<head>
  <title>LocalLocator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body >
  <div>
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
      <div class="title-bar-title">Menu</div>
    </div>
    <div class="top-bar grid-x" id="responsive-menu">
      <div class="cell small-3">
        <a href="/" class="nav-text"><img class="" src="app/assets/images/logo.png" alt="Local Locator Icon" /></a>
      </div>
      <div class="cell small-5">
        <a href="/locals" class="nav-text" >All Locals</a>
        <a href="/locals/new" class="nav-text" >Submit A Local</a>
      </div>
      <div class="cell auto grid-container">
        <div class="grid-x grid-margin-x right">
          <%- if current_user -%>
            <div class="cell auto text-right top-bar-text-wrapper sign-text" >
                <a href="/users/<%="#{current_user.slug}"%>"><img class="small-image" src=<%="#{current_user.avatar}"%> alt=<%="#{current_user.username}"%> /></a>
                <%= link_to "#{current_user.username}", "/users/#{current_user.slug}", class: "text-right top-bar-text sign-text" %>
                &nbsp; / &nbsp; 
                <%= link_to 'LOG OUT', destroy_user_session_path, method: :delete, class: "text-left top-bar-text sign-text" %>
            </div>
          <%- else -%>
            <div class="cell auto  sign-text" >
              <%= link_to 'SIGN UP', new_user_registration_path, class: "text-right top-bar-text sign-text" %> 
              &nbsp; / &nbsp; 
              <%= link_to 'LOG IN', new_user_session_path, class: "sign-text" %>
            </div>
          <%- end -%>
        </div>
      </div>
    </div>

  <%- flash.each do |key, value| -%>
    <div class="flash callout alert flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>
  <%= yield %>


  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>

<footer class="footer">
  <div class="grid-x grid-padding-x">
    <div class="medium-4 cell">
      <p class="footer-text">Created by: Devin Rojas</p>
      <p class="footer-text">Powered by: React/Rails</p>
      <a href="https://github.com/devinrojas"><i class="fa-brands fa-github sign-text social-icon"></i></a>
      <a href="https://www.linkedin.com/in/devinrojas/"><i class="fa-brands fa-linkedin sign-text social-icon"></i></a>
    </div>

    <div class="medium-4 cell">
      <a class="sign-text" href="/about-us">About Us</a> <br/>
      <a class="nav-text " href="/locals">All Locals</a> <br />
      <a class="sign-text" href="/faq">Frequently Asked Questions</a>
    </div>


    <div class="medium-4 cell social-icon">
      <a class="nav-text" href="/">Home</a> <br/>
      <a class="sign-text" href="/locals/new">Submit A Local</a> <br/>
    </div>
  </div>    
</footer>
</html>
